# Neo4j
DATABASE_TYPE=NEO4J
DATABASE_USER='neo4j'
DATABASE_PASSWORD='root'
DATABASE_HOST='localhost'
DATABASE_PORT='7687'

# AuthConfig
JWT_SECRET="secret"

# AppConfig
APP_HOST="http://localhost:4200"
API_HOST="http://localhost:3333"

# FacebookConfig
# slackmap.loc
FACEBOOK_APP_ID="306418119377317"
FACEBOOK_SECRET=""
# coma separated strings, minimal scope permissions
FACEBOOK_SCOPE="public_profile,email"
