
// angular material reset
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// SlackMap helpers
.toolbar-icon-right {
  margin: 0 0 0 14px;
}
.toolbar-icon-left {
  margin: 0 14px 0 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.toolbar-center {
  justify-content: center;
}

@import 'styles/icons.scss'
