<!DOCTYPE html>
<html ng-app="uhf" class="ng-scope">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration - UHF 2019</title>
    <base href="/">

    <meta property="og:site_name" content="slackmap.com">
    <meta property="og:url" content="https://slackmap.com/event/e0uhf2017">
    <meta property="og:title" content="Registration - UHF 2019">
    <meta property="og:image" content="https://test.slackmap.com/assets/images/uhf2017-fb-share-reg.png">
    <meta property="og:description" content="Urban Highline Festival">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1">
    <link rel="stylesheet" href="/uhf/bootstrap.min.css">
    <link rel="stylesheet" href="/uhf/uhf.css">

    <body>
        <div class="event-state container " ng-controller="UhfCtrl">
            <ng-include src="'/uhf/header.html'"></ng-include>
            <div class="row3" ng-if="false">
                <div class="alert alert-success alert-dismissable" role="alert">
                    <b>CLOSED !!!</b>
                    <p>
                        Online Registration is closed, see you on the spot :)
                    </p>
                </div>
            </div>
            <div class="row3" ng-if="true">


                <div class="alert alert-warning" role="alert" ng-if="!error && !user">
                    <p>
                        Loading...
                    </p>
                </div>

                <div class="alert alert-danger" role="alert" ng-if="error">
                    <h3>error</h3>
                    <p>
                        {{error}}
                    </p>
                    <p>
                        <a href="/uhf/register.html" class="btn btn-block btn-default">get new hash</a>
                    </p>
                </div>
                <ul class="nav nav-tabs nav-justified" ng-if="user">
                    <li role="presentation" ng-class="{active:active === 'data'}"><a href="#" ng-click="$event.preventDefault();setTab('data')">{{tr('YOUR_DATA')}}</a></li>
                    <li role="presentation" ng-class="{active:active === 'payment'}" ng-if="user.payment_id"><a  ng-click="$event.preventDefault();setTab('payment')">{{tr('PAYMENT_INFO')}}</a></li>
                    <li role="presentation" ng-class="{active:active === 'cancel'}" ><a href="./#" ng-click="$event.preventDefault();setTab('cancel')">{{tr('CANCEL')}}</a></li>
                </ul>
                <div ng-if="active === 'cancel'">
                    <div ng-bind-html="tr('CANCEL_DETAILS') | trust"></div>
                    <br><br>
                    <button class="btn btn-block btn-danger" ng-click="cancel()">{{tr('CANCEL')}}</button>
                </div>

                <div ng-if="active === 'payment'">
                    <div ng-bind-html="tr('PAYMENT_DETAILS') | trust"></div>

                    <div class="alert alert-danger" ng-if="isUnder18()" ng-bind-html="tr('UNDER18_INFO') | trust" ></div>
                    <!-- <div class="alert alert-danger" ng-if="!user.payment_online && !user.payment_onsite_permit" ng-bind-html="tr('PAYMENT_WAITING') | trust"></div> -->
                    <div class="alert alert-success" ng-if="user.payment_online && !user.payment_onsite_permit" ng-bind-html="tr('PAYMENT_RECEIVED') | trust"></div>
                    <div class="alert alert-success" ng-if="user.payment_onsite_permit" ng-bind-html="tr('PAYMENT_ONSITE_PERMIT') | trust"></div>

                </div>

                <form class="form-horizontal" name="ctrl.$form" role="form" ng-submit="register()" autocomplete="off" ng-if="active === 'data'">
                    <div class="alert alert-info" role="alert" ng-if="user.guest">
                        <h3>Guest</h3>
                        <p>
                            You are registering as a Guest!
                            <Br> So you will have to send more ino later (hostel check in/out, sponsorship info, workshops)
                            <br>
                            <Br> It's good to have you on the team ;)

                        </p>
                    </div>
                    <div class="alert alert-info" role="alert" ng-if="user.volunteer">
                        <h3>Volunteer</h3>
                        <p>
                            You are registering as a Volunteer!
                            <br>
                            <br> It's good to have you on the team ;)
                        </p>
                    </div>

                    <!-- <h3>Language</h3> -->
<br><br>
                    <div class="form-group">
                        <!-- <label class="col-sm-2 control-label">Language</label> -->
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="language" type="radio" value="en" ng-model="user.language">
                                <img src="/uhf/GB.png" />
                                English
                            </label>
                            <label class="radio-inline">
                                <input required name="language" type="radio" value="pl" ng-model="user.language">
                                <img src="/uhf/PL.png" />
                                Polski
                            </label>
                        </div>
                    </div>
                    <h3>{{tr('TICKET_TYPE')}}</h3>
                    <div ng-if="user.zjednoczony" class="form-group">
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="ticket_type" type="radio" value="camp" ng-model="user.ticket_type">
                                Camping (13EUR / 50PLN)
                            </label>
                        </div>
                    </div>
                    <div ng-if="!user.zjednoczony" class="form-group">
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="ticket_type" type="radio" value="full" ng-model="user.ticket_type">
                                All days (50EUR / 200PLN)
                            </label>
                            <br>
                            <label class="radio-inline">
                                <input required name="ticket_type" type="radio" value="weekend" ng-model="user.ticket_type">
                                Weekend only, Saturday & Sunday (25EUR / 100PLN)
                            </label>
                        </div>
                    </div>
                    <h3>Contact information</h3>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">email</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.email" required readonly class="form-control" />
                        </div>
                    </div>
<!--
                    <div class="form-group"  ng-if="!user.zjednoczony">
                        <label class="col-sm-2 control-label">mobile<br><i>(optional)</i></label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.mobile" class="form-control" />
                            <p class="help-block" ng-bind-html="tr('MOBILE_HELP') | trust"></p>
                        </div>
                    </div>

                    <div class="form-group"  ng-if="!user.zjednoczony">
                        <label class="col-sm-2 control-label">social media<br><i>(optional)</i></label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.social_media_profile" class="form-control" />
                            <p class="help-block" ng-bind-html="tr('SOCIAL_MEDIA_HELP') | trust"></p>
                        </div>
                    </div>
-->

                    <h3>Personal data</h3>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gender</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="gender" type="radio" value="m" ng-model="user.gender">Male</label>
                            <label class="radio-inline">
                                <input required name="gender" type="radio" value="f" ng-model="user.gender">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First name</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.firstname" required class="form-control" placeholder="{{texts.firstname.tooltip}}" tooltip="{{texts.firstname.tooltip}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last name</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.lastname" required class="form-control" placeholder="{{texts.lastname.tooltip}}" tooltip="{{texts.lastname.tooltip}}">
                        </div>
                    </div>
<div  ng-if="!user.zjednoczony">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Country</label>

                        <div class="col-sm-6">
                            <select name="country" required ng-model="user.country" class="form-control">
                                <option value=""></option>
                                <option ng-value="o.code" ng-repeat="o in countries track by $index">{{o.name}}</option>

                            </select>
                            <!-- <div ng-show="ctrl.$form.country.$invalid" class="alert alert-danger">Country is required</div> -->
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">Street</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.street" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Postcode</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.postcode" required class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">City</label>

                        <div class="col-sm-6">
                            <input type="text" ng-model="user.city" required class="form-control">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Birthday</label>

                        <div class="col-sm-6">
                            <input ui-mask="9999-99-99" type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" required class="form-control" name="birthday" ng-model="user.birthday" />
                            <p class="help-block">YYYY-MM-DD (year-month-day)</p>
                            <div class="alert alert-danger" ng-if="isUnder18()" ng-bind-html="tr('UNDER18_INFO') | trust" ></div>
                        </div>
                    </div>
<!--
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Document Type</label>

                        <div class="col-sm-6 radios">
                            <div class="radio pull-left">
                                <label style="margin-right: 20px;">
                                    <input required type="radio" name="document_type" value="id" ng-model="user.document_type">Identity card</label>
                            </div>
                            <div class="radio pull-left">
                                <label style="margin-right: 20px;">
                                    <input required type="radio" name="document_type" value="passport" ng-model="user.document_type">Passport</label>
                            </div>
                            <div class="radio pull-left">
                                <label>
                                    <input required type="radio" name="document_type" value="other" ng-model="user.document_type">Other</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="user.document_type == 'other'">
                        <label class="col-sm-2 control-label">Document Name</label>

                        <div class="col-sm-6 radios">
                            <input required type="text" name="document_name" ng-model="user.document_name" class="form-control doc-name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Document Number</label>

                        <div class="col-sm-6 radios">
                            <input required type="text" name="document_number" ng-model="user.document_number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                    </div>
-->
                    <h3>T-shirt</h3>

                    <!-- <div  ng-bind-html="tr('TSHIRT_NOT_YET') | trust"></div> -->

                    <p>Sorry, no more tshirts available :( <br>if you registered before 18th of July, tshirt will wait for you :)<br> Otherwise you are late :(</p>
                    <!-- <p>Sorry, not available yet :( <br>We are working on it!<br> You will receive notification email when it will be ready to order!</p> -->


                    <!--
                    <div class="form-group">
                        <label class="col-sm-2 control-label">gender</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="tshirt_gender" type="radio" value="m" ng-model="user.tshirt_gender">Male</label>
                            <label class="radio-inline">
                                <input required name="tshirt_gender" type="radio" value="f" ng-model="user.tshirt_gender">Female</label>
                        </div>
                    </div>
                    <div class="form-group tshirt-box">
                        <label class="col-sm-2 control-label">type</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input required name="tshirt_type" type="radio" value="tshirt" ng-model="user.tshirt_type">t-shirt</label>
                            <label class="radio-inline">
                                <input required name="tshirt_type" type="radio" value="top" ng-model="user.tshirt_type">top</label>
                            <p ng-if="user.tshirt_gender === 'f'">
                                <img ng-click="openBox($event)" ng-if="user.tshirt_type === 'tshirt'" src="/uhf/tshirt-2019/f-tshirt.jpg" class="img-responsive" />
                                <img ng-click="openBox($event)" ng-if="user.tshirt_type === 'top'" src="/uhf/tshirt-2019/f-top.jpg" class="img-responsive" />
                            </p>
                            <p ng-if="user.tshirt_gender === 'm'">
                                <img ng-click="openBox($event)" ng-if="user.tshirt_type === 'tshirt'" src="/uhf/tshirt-2019/m-tshirt.jpg" class="img-responsive" />
                                <img ng-click="openBox($event)" ng-if="user.tshirt_type === 'top'" src="/uhf/tshirt-2019/m-top.jpg" class="img-responsive" />
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">size</label>
                        <div class="col-sm-10">
                            <label ng-if="user.tshirt_gender == 'f'" class="radio-inline">
                                <input name="tshirt_size" ng-required="user.tshirt_size" type="radio" value="xs" ng-model="user.tshirt_size">XS
                            </label>
                            <label class="radio-inline">
                                <input required name="tshirt_size" type="radio" value="s" ng-model="user.tshirt_size">S</label>
                            <label class="radio-inline">
                                <input required name="tshirt_size" type="radio" value="m" ng-model="user.tshirt_size">M</label>
                            <label class="radio-inline">
                                <input required name="tshirt_size" type="radio" value="l" ng-model="user.tshirt_size">L</label>
                            <label class="radio-inline">
                                <input required name="tshirt_size" type="radio" value="xl" ng-model="user.tshirt_size">XL</label>
                            <label ng-if="user.tshirt_gender == 'm'" class="radio-inline">
                                <input required name="tshirt_size" type="radio" value="xxl" ng-model="user.tshirt_size">XXL</label>
                            <p>
                                <img ng-click="openBox($event)" src="/uhf/tshirt-2019/SIZE-CHARTS_EN_TABLE.png" class="img-responsive" />
                                <img style="max-height: 150px" ng-click="openBox($event)" src="/uhf/tshirt-2019/SIZE-CHARTS_EN_BODY.png" class="img-responsive" />
                            </p>
                        </div>
                    </div>
-->

                    <h3>Slackline Skills </h3>
                    <div class="radio">
                      <label class="radio">
                        <input type="radio" name="skills" value="none" ng-model="user.skills" required> no slackline skills
                      </label>
                      <label class="radio">
                          <input type="radio" name="skills" value="slackline" ng-model="user.skills" required> I can walk slackline
                      </label>
                      <label class="radio">
                          <input type="radio" name="skills" value="longline" ng-model="user.skills" required> I can walk longline
                      </label>
                      <label class="radio">
                          <input type="radio" name="skills" value="want_highline" ng-model="user.skills" required> I want to learn highline
                      </label>
                      <label class="radio">
                          <input type="radio" name="skills" value="highline" ng-model="user.skills" required> I can walk highline (doesn't matter if you sent one or not)
                      </label>
                      <label class="radio">
                          <input type="radio" name="skills" value="rigger" ng-model="user.skills" required> I can rig highline
                      </label>
                    </div>
          </div>
                    <h3>Extra notes</h3>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-6">
                            <textarea ng-model="user.notes" class="form-control"></textarea>
                            <p  class="help-block">questions or suggestions</p>
                        </div>
                    </div>

                    <h3>{{tr('AGREEMENTS')}}</h3>

                    <div class="col-sm-offset-2 col-sm-10 radios">
                        <div class="alert alert-default" ng-bind-html="tr('RODO') | trust"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input required name="agree_email" type="checkbox" ng-model="user.agree_email">
                                    <span ng-bind-html="tr('AGREE_EMAIL') | trust"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input required name="agree_regulations" type="checkbox" ng-model="user.agree_regulations">
                                    <span ng-bind-html="tr('AGREE_REGULATIONS') | trust"></span>
                                </label>
                            </div>
                            <div class="checkbox"  ng-if="!user.zjednoczony">
                              <label>
                                  <input required name="agree_declaration" type="checkbox" ng-model="user.agree_declaration">
                                  <span ng-bind-html="tr('AGREE_DECLARATION') | trust"></span>
                              </label>
                          </div>
                        </div>
                    </div>

                    <div class="clearfix buttons">
                        <!--<div class="alert alert-success alert-dismissable" role="alert">-->
                        <!--Pre-registration is closed, see you in Lublin !!!-->
                        <!--</div>-->
                        <div ng-if="saving" class="alert alert-warning alert-dismissable" role="alert">Saving...</div>
                        <div ng-if="update_error" class="alert alert-danger alert-dismissable " role="alert">
                            Sorry, some strange kind of error is destroying your plans :(
                            <h3>{{update_error}}</h3>
                        </div>
                        <div ng-if="update_success" class="alert alert-success alert-dismissable " role="alert">
                            <h3>Success!</h3>
                            Your registration is done.<br>
                            Now see the payments info here
                            <button class="btn btn-default btn-block" ng-click="setTab('payment')">Payment info</button>

                        </div>
                        <div ng-if="submited && ctrl.$form.$invalid" class="alert alert-warning alert-dismissable" role="alert">
                            <ul>
                                <li ng-repeat="e in ctrl.$form.$error.required">{{e.$name}} is required</li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-sm-offset-2">
                            <button ng-if="!user.payment_id" type="submit" class="btn btn-success btn-block btn-lg " ng-disabled="saving">
                              Register for
                              <span  ng-if="user.zjednoczony">Zjednoczony Lublin</span>
                              <span  ng-if="!user.zjednoczony">UHF 2019</span>
                            </button>
                            <button ng-if="user.payment_id" type="submit" class="btn btn-success btn-block btn-lg " ng-disabled="saving">Save changes</button>

                        </div>
                        <br>
                        <br>
                        <br>
                        <br><br><br><br><br><br><br><br>
                        <!--<div ng-click="register()" class="btn btn-success btn-block btn-lg" ng-disabled="saving">Register for UHF 2016</div>-->
                    </div>

                    <div ng-if="lightbox" class="lightbox" ng-click="boxClose()">
                        <img ng-src="{{lightbox}}" class="img-responsive">
                    </div>
                    <br><br><br><br><br><br><br><br>
                </form>
                <!--<pre>{{ctrl.$form.$error|json}}</pre>-->
                <!--<pre>{{ctrl.$form.$valid|json}}</pre>-->
                <!-- <pre>{{user|json}}</pre> -->
            </div>
        </div>
        <script src="/uhf/uhf-utils.js"></script>
        <script src="/uhf/countries.js"></script>
        <script src="/uhf/uhf-translation.js?v=3"></script>
        <script src="/uhf/angular.min.js"></script>
        <script src="/uhf/edit.js"></script>
    </body>

</html>
