
<div>

    <h2 style=" position: relative; text-align: center" class="break-page">
        Urban Highline Festival 2017<br>Deklaracja
    </h2>

    <p>Oświadczam, iż ja niżej podpisany, <b>{{row.firstname}} {{row.lastname}} </b><br>
        urodzony dnia <b>{{row.birthday}}</b> <br>
        zamieszkały w <b>{{row.street}}, {{row.postcode}} {{row.city}}</b>, <b>{{row.country_name}}</b> <br>
        posiadający

        <b ng-if="row.documentType == 'id'">dowód osobisty</b>
        <b ng-if="row.documentType == 'passport'">paszport</b>
        <b ng-if="row.documentType == 'other'">{{row.documentName || '.......................................'}}</b>
        o numerze
        <b>{{row.documentNumber}}</b>
    </p>


    zapoznałem się i akceptuję Regulamin Urban Highline Festival odbywającego się w Lublinie w dniach  25-30 lipca 2017r. i zobowiązuje się przestrzegać wszystkich jego postanowień.
    <br><br>
    Oświadczam,  iż ponoszę pełną odpowiedzialność za swoje działania w tym własne zdrowie, życie oraz szkody przeze mnie spowodowane, zarówno materialne i niematerialne, w tym wobec osób trzecich, podczas organizacji i trwania zawodów Urban Highline w Lublinie w dniach 25-30 lipca 2017r. W przypadku uszczerbku na moim zdrowiu jak i zdrowiu osób trzecich, będącego wynikiem mojego działania, pełną odpowiedzialność i konsekwencje za zaistniałą sytuację ponosi moją osoba.
    <br><br>
    Oświadczam, iż posiadam odpowiednie, konieczne umiejętności i udokumentowane doświadczenie, pozwalające na wzięcie udziału w zawodach. Równocześnie zaznaczam, iż nie istnieją żadne przeciwwskazania medyczne do znajdowania się przeze mnie na wysokości.
    <br><br>
    Oświadczam, że w przypadku uznania przez Organizatorów mojego zachowania za mogące powodować zagrożenie bezpieczeństwa lub zakłócające przebieg zawodów, opuszczę teren imprezy na wezwanie Organizatora lub służb ochrony.
    <br><br>
    Oświadczam, że wyrażam zgodę na dokumentację fotograficzną, audio-wizualną podczas wykonywania przeze mnie przejść w ramach Urban Highline Festival. Wyrażam zgodę na  wykorzystanie mojego wizerunku oraz uzyskanych materiałów, bez ograniczeń czasowych oraz terytorialnych w kontekście dokumentalnym, informacyjnym oraz promocyjnym Carnavalu Sztukmistrzów, Miasta Lublin, oraz sponsorów Urban Highline Festival 2017.
    <br><br>
    Zobowiązuję się nie wchodzić do budynków, pomiędzy którymi organizowane są zawody oraz nie uczestniczyć w zawodach  pod wpływem alkoholu, środków odurzających,  leków oznaczonych jako powodujące zaburzenia wzroku, słuchu bądź równowagi oraz innych substancji i środków, które uniemożliwiają bezpieczne wzięcie udziału w Urban Highline Festival.
    <br><br>
    Zobowiązuję się do zachowania szczególnej ostrożności podczas przebywania w obrębie terenu objętego Urban Highline Festival oraz do zachowywania się w sposób nie powodujący zagrożenia dla bezpieczeństwa innych osób.
    <br><br>
    Oświadczam że podczas chodzenia po taśmie highline, nie będę posiadał przy sobie żadnych przedmiotów, które mogłyby spaść i stworzyć zagrożenie dla osób i pojazdów przebywających w pobliżu (np. portfel, odtwarzacz mp3, klucze, itp.)

    <p style="padding: 30px 0 0 0;">
        <span style="float: left;">LUBLIN, DN</span>
        <span style="float: right; display: block; ">......................................<br />CZYTELNY PODPIS</span>

    <div style="clear: both;"></div>
    </p>



</div>