
<div>

    <h2 style="position: relative; text-align: center" class="break-page">
        Urban Highline Festival 2017<br>Declaration
    </h2>


    </p>
    I hereby declare that I the undersigned, <b>{{row.firstname}} {{row.lastname}} </b><br>
    born on <b>{{row.birthday}}</b>,<br>
    having permanent address in <b>{{row.street}}, {{row.postcode}} {{row.city}}</b>, <b>{{row.country_name}}</b><br>
    with

    <b ng-if="row.documentType == 'id'">Identity Card</b>
    <b ng-if="row.documentType == 'passport'">Passport</b>
    <b ng-if="row.documentType == 'other'">{{row.documentName || '.......................................'}}</b>

    number  <b>{{row.documentNumber}}</b>
    <Br><br>


    I hereby declare that I bear full responsibility for my actions, including my own health, life and the damages caused by myself, both material and intangible including towards any third parties during organization and duration of Urban Highline contest in Lublin between
    25th-30th of July 2017. In the case of detriment to my health, as well as health of any third parties, resulting from my actions, full responsibility and consequences for the situation shall be borne by my person.
    <br><br>
    I hereby declare that I have the appropriate, necessary skills and documented experience enabling my participation in the contest. At the same time, I emphasize that there are no medical contraindications for me to stay at heights.
    <br><br>
    I hereby declare that if the Organizers recognize that my behaviour may cause risks for safety or disturb the course of the contest, I will leave the area of the events on the call of the Organizer or security services.
    <br><br>
    I declare that I give my consent to photographic and audio - visual documentation while performing highlining and slacklining, including my image and the use of obtained materials without any time and territorial constraints in the documentary, information and promotional context of Carnaval Sztukmistrzów, City of Lublin and Urban Highline Festival 2017 sponsors.
    <br><br>
    I hereby undertake not to enter the buildings between which the contest is organized and not to participate in the contest under the influence of alcohol, intoxicants, and medicines marked as causing eyesight, hearing or balance disorders or other substances, which prevent safe participation in Urban Highline Festival.
    <br><br>
    I hereby undertake to take particular precautions while being present in the area of Urban Highline Festival and to behave in order not to cause hazards to safety of other persons.
    <br><br>
    I hereby undertake not to enter the highline with stuff that may fall of and make any damage to vehicles under it or course any injuries to people. (for example: wallet, mp3 player, keys etc.)
    <br><br>

    <p style="padding: 30px 0 0 0;">
        <span style="float: left;">LUBLIN, DATE</span>
        <span style="float: right; display: block; ">......................................<br />LEGIBLE SIGNATURE</span>

    <div style="clear: both;"></div>
    </p>



</div>