<!DOCTYPE html>
<html ng-app="uhf" class="ng-scope">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration - UHF 2019</title>
    <base href="/">

    <meta property="og:site_name" content="slackmap.com">
    <meta property="og:url" content="https://slackmap.com/event/e0uhf2019">
    <meta property="og:title" content="Registration - UHF 2019">
    <meta property="og:image" content="https://slackmap.com/assets/images/uhf2019-fb-share-reg.png">
    <meta property="og:description" content="Urban Highline Festival">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/uhf/panel.css">

</head>
    <body style="margin-top: 10px;">
        <div style="" ng-if="saving">working</div>
        <div class="event-state " ng-controller="UhfCtrl" style="margin: 0 10px;">
            <ul class="nav nav-tabs">
                <li role="presentation" class="disabled"><a ng-click="loadData()">UHF 2019</a> </li>
                <li role="presentation" ng-class="{active: tab==='all'}" ng-click="setTab('all')"><a >All</a></li>
                <li role="presentation" ng-class="{active: tab==='special_guest'}" ng-click="setTab('special_guest')"><a >Special Guests</a></li>
                <li role="presentation" ng-class="{active: tab==='guests'}" ng-click="setTab('guests')"><a >Guests</a></li>
                <li role="presentation" ng-class="{active: tab==='riggers'}" ng-click="setTab('riggers')"><a>Riggers</a></li>
                <li role="presentation" ng-class="{active: tab==='volunteers'}" ng-click="setTab('volunteers')"><a >Volonteers</a></li>
                <li role="presentation" ng-class="{active: tab==='workshops'}" ng-click="setTab('workshops')"><a >Workshops</a></li>
                <li role="presentation" ng-class="{active: tab==='not-finished'}" ng-click="setTab('not-finished')"><a >Not fishished</a></li>
                <li role="presentation" ng-class="{active: tab==='zjednoczony'}" ng-click="setTab('zjednoczony')"><a >Zjednoczony</a></li>
                <!-- <li role="presentation" ng-class="{active: tab==='hostel'}" ng-click="tab = 'hostel'; doStats()"><a >Hostel</a></li> -->
                <li role="presentation" ng-class="{active: tab==='notes'}" ng-click="setTab('notes')"><a >with notes</a></li>
            </ul>

            <!-- USER FORM -->
            <!-- <div class="print" ng-if="action == 'user-form'">
                <div ng-include="'./form-user.html'"></div>
                <div class="btn btn-default btn-block" ng-click="showList()">cancel</div>
            </div> -->

            <div ng-show="action == 'list'">

                <div style="margin-bottom: 10px;" >

                    <input class="form-control" type="text" ng-model="query" style="width: 300px; display: inline-block" />
                    <div class="btn btn-default" ng-click="query = ''">
                        clear
                    </div>
                    <div class="btn btn-text " ng-click="show_stats = !show_stats">
                        stats
                    </div>
                    <!-- <div class="btn btn-text pull-right" ng-click="action = 'tags'">
                        tags
                    </div> -->
                    <!-- <div class="btn btn-primary pull-right" ng-click="new()">
                        NEW
                    </div> -->
                </div>
                <div class="print" ng-if="show_stats">
                    <b>online</b>
                    <br> total: <b>{{stats.payment_id}}</b> ({{stats.no_payment_id}} not finished)
                    <br> ticket full:
                    <b>{{stats.ticket_full}}</b> weekend: <b>{{stats.ticket_weekend}}</b> zjednoczony: <b>{{stats.ticket_zjednoczony}}</b>
                    <br> male:
                    <b>{{stats.male}}</b>
                    female:
                    <b>{{stats.fmale}}</b>
                    <br>

                    <b>onsite</b>
                    <br> checkin:
                    <b>{{stats.checkin}}</b>
                    from online:
                    <b>{{stats.checkin_from_online}}</b>
                    from onsite:
                    <b>{{stats.checkin_from_onsite}}</b>
                    <br> male:
                    <b>{{stats.checkin_male}}</b> female:
                    <b>{{stats.checkin_fmale}}</b>
                    <br>

                    <b ng-click="show_tshirts = !show_tshirts">tshirts</b>

<pre ng-if="show_tshirts">
Ordered
{{stats.tshirts|json}}
collected
{{stats.tshirts|json}}
</pre>
                    <br>
                    <b ng-click="show_emails = !show_emails">emails</b>

                    <p style="max-width: 100%; overflow-wrap: break-word;" ng-show="show_emails">
                        <span ng-repeat="row in rows | uhf:tab | filter:query | unique track by $index">{{row}},</span>pedro.blaszczak@gmail.com
                    </p>
                    <Br>
                    <b ng-click="show_countries = !show_countries">countries</b>
                    <span ng-show="show_countries" ng-repeat="row in stats.checkin_countries track by $index">
                        <br>{{row.name}}
                        <!-- ({{row.count}}) -->
                    </span>
                </div>
                <table class="table">
                    <thead>
                        <tr style="font-weight: bold">
                            <td></td>
                            <td>ticket</td>
                            <td>email</td>
                            <td>first name</td>
                            <td>last name</td>
                            <td>country</td>
                            <td>ticket type</td>
                            <td>roles</td>
                            <td>lang</td>
                            <td>payment online</td>
                            <!-- <td>onsite permit</td> -->
                            <td></td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="row in rows | uhf:tab | filter:query track by $index">
                        <tr ng-click="selectUser(row)" ng-class="{noPayment: !row.payment_id}">
                            <td>{{$index+1}}</td>
                            <td>{{row.payment_id}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.firstname}}</td>
                            <td>{{row.lastname}}</td>
                            <td>{{row.country}} {{row.country_name}}</td>
                            <td>{{row.ticket_type}} </td>
                            <td>
                                <span ng-if="row.special_guest">
                                    <span>Special Guest</span>
                                </span>
                                <span ng-if="row.guest">
                                    <span>Guest</span>
                                </span>
                                <span ng-if="row.rigger">
                                    <span>Rigger</span>
                                </span>
                                <span ng-if="row.volunteer">
                                    <span>Volunteer</span>
                                </span>
                                <span ng-if="row.workshops">
                                    <span>Workshops</span>
                                </span>
                            </td>
                            <td>{{row.language}}</td>
                            <td>{{row.payment_online}}</td>
                            <!-- <td>{{row.payment_onsite_permit}}</td> -->
                            <td>
                                <a ng-click="$event.stopPropagation()" target="_blank" href="/uhf/edit.html?hash={{row.hash}}" class="btn btn-primary pull-left print">EDIT</a>
                                <!-- <div class="btn btn-primary pull-left print" ng-click="edit(row)">EDIT</div> -->
                                <!-- <div class="btn btn-default pull-right print" ng-click="show(row)">SHOW</div> -->
                            </td>
                        </tr>
                        <tr ng-if="tab==='notes'">
                            <td style="border-top: none;" colspan="11">{{row.notes}}</td>
                        </tr>
                        <tr class="no-hover" ng-if="user.id == row.id" ng-init="onlineOpen = false; payment_online = row.payment_online; payment_email = true;">
                            <td colspan="13">
                                <form  class="form-horizontal" >

                                    <div class="form-group" ng-init="edit_ticket">
                                        <label class="col-sm-2 control-label" ng-click="edit_ticket = !edit_ticket">Ticket type</label>

                                        <div class="col-sm-10">
                                          <b style="padding-top: 7px; display: block">{{user.ticket_type | uppercase}}</b>

                                          <div ng-if="edit_ticket">
                                            <label class="radio-inline"><input  name="ticket_type" type="radio" value="camp" ng-model="user.ticket_type">CAMP</label>
                                            <label class="radio-inline"><input  name="ticket_type" type="radio" value="weekend" ng-model="user.ticket_type">WEEKEND</label>
                                            <label class="radio-inline"><input  name="ticket_type" type="radio" value="full" ng-model="user.ticket_type">FULL</label>

                                          </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"  ng-click="onlineOpen = !onlineOpen">Payment ONLINE</label>

                                        <div class="col-sm-10">
                                          <input readonly class="form-control" name="payment_online" ng-model="user.payment_online" style="width: 100px; float: left;" />
                                          <!-- online payment form -->
                                          <div style="clear: both"  ng-if="onlineOpen">
                                            <input class="form-control" name="payment_online" ng-model="payment_online" style="width: 100px; float: left;" />
                                            <div class="btn btn-text" ng-click="payment_online = ''">none</div>
                                            <div class="btn btn-text" ng-click="payment_online = 'FREE'">FREE</div>
                                            <div class="btn btn-text" ng-click="payment_online = '50'">50PLN</div>
                                            <div class="btn btn-text" ng-click="payment_online = '100'">100PLN</div>
                                            <div class="btn btn-text" ng-click="payment_online = '200'">200PLN</div>
                                            <br><br>
                                            <div ng-disabled="online_payment_saving" class="btn btn-success pull-left print" ng-click="onlinePayment(row, payment_online,payment_email)">save</div>
                                            <label style="margin: 10px;">
                                              <input type="checkbox" class="form-control" name="payment_email" ng-model="payment_email" style="width: 15px; float: left; margin: -10px 10px 0" /> Send email notification
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="!user.payment_online">
                                        <label class="col-sm-2 control-label">Payment ONSITE</label>

                                        <div class="col-sm-10" >
                                            <input ng-readonly="user.payment_online" class="form-control" name="payment_onsite" ng-model="user.payment_onsite" style="width: 100px; float: left;" />
                                                <div class="btn btn-text" ng-click="user.payment_onsite = ''">none</div>
                                                <div class="btn btn-text" ng-click="user.payment_onsite = 'FREE'">FREE</div>
                                                <div class="btn btn-text" ng-click="user.payment_onsite = '50'">50PLN</div>
                                                <div class="btn btn-text" ng-click="user.payment_onsite = '100'">100PLN</div>
                                                <div class="btn btn-text" ng-click="user.payment_onsite = '200'">200PLN</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tshirt ONLINE</label>

                                        <div class="col-sm-6" ng-if="user.tshirt_type">
                                            gender: <b>{{user.tshirt_gender}}</b>
                                            type: <b>{{user.tshirt_type}}</b>
                                            size: <b>{{user.tshirt_size | uppercase}}</b>

                                            <button class="btn btn-default" ng-click="collectTshirt(user)">collect</button>
                                        </div>
                                        <div class="col-sm-6" ng-if="!user.tshirt_type">
                                            NONE
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tshirt COLLECTED</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline"><input  name="tshirt_collected_gender" type="radio" value="m" ng-model="user.tshirt_collected_gender">Male</label>
                                            <label class="radio-inline"><input  name="tshirt_collected_gender" type="radio" value="f" ng-model="user.tshirt_collected_gender">Female</label>
                                            |
                                            <label class="radio-inline"><input  name="tshirt_collected_type" type="radio" value="tshirt" ng-model="user.tshirt_collected_type">t-shirt</label>
                                            <label class="radio-inline"><input  name="tshirt_collected_type" type="radio" value="top" ng-model="user.tshirt_collected_type">top</label>
                                            |
                                            <label ng-if="user.tshirt_collected_gender == 'f'" class="radio-inline">
                                                <input name="tshirt_collected_size" ng-required="user.tshirt_collected_size" type="radio" value="xs" ng-model="user.tshirt_collected_size">XS
                                            </label>
                                            <label class="radio-inline">
                                                <input  name="tshirt_collected_size" type="radio" value="s" ng-model="user.tshirt_collected_size">S</label>
                                            <label class="radio-inline">
                                                <input  name="tshirt_collected_size" type="radio" value="m" ng-model="user.tshirt_collected_size">M</label>
                                            <label class="radio-inline">
                                                <input  name="tshirt_collected_size" type="radio" value="l" ng-model="user.tshirt_collected_size">L</label>
                                            <label class="radio-inline">
                                                <input  name="tshirt_collected_size" type="radio" value="xl" ng-model="user.tshirt_collected_size">XL</label>
                                            <label ng-if="user.tshirt_collected_gender == 'm'" class="radio-inline">
                                                <input  name="tshirt_collected_size" type="radio" value="xxl" ng-model="user.tshirt_collected_size">XXL</label>
                                            <p>
                                                <!-- <img ng-click="openBox($event)" src="/uhf/tshirt-sizes.png" class="img-responsive" /> -->
                                            </p>
                                        </div>
                                    </div>


                                    <div class="form-group" ng-init="edit_roles = false">
                                        <label class="col-sm-2 control-label" ng-click="edit_roles = !edit_roles">Roles</label>
                                        <div class=" col-sm-10">
                                            <div class="checkbox">
                                                <span ng-if="user.special_guest">
                                                    <span>Special Guest</span>
                                                </span>
                                                <span ng-if="user.guest">
                                                    <span>Guest</span>
                                                </span>
                                                <span ng-if="user.rigger">
                                                    <span>Rigger</span>
                                                </span>
                                                <span ng-if="user.volunteer">
                                                    <span>Volunteer</span>
                                                </span>
                                                <span ng-if="user.workshops">
                                                    <span>Workshops</span>
                                                </span>
                                            </div>
                                            <div ng-if="edit_roles">
                                              <div class="checkbox">
                                                <label>
                                                    <input name="camping" type="checkbox" ng-model="user.special_guest">
                                                    <span>Special Guest</span>
                                                </label>
                                                <label>
                                                    <input name="guest" type="checkbox" ng-model="user.guest">
                                                    <span>Guest</span>
                                                </label>
                                                <label>
                                                    <input name="rigger" type="checkbox" ng-model="user.rigger">
                                                    <span>Rigger</span>
                                                </label>
                                                <label>
                                                    <input name="volunteer" type="checkbox" ng-model="user.volunteer">
                                                    <span>Volunteer</span>
                                                </label>
                                                <label>
                                                    <input name="workshops" type="checkbox" ng-model="user.workshops">
                                                    <span>Workshops</span>
                                                </label>
                                            </div>
                                          </div>
                                          </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="payment_onsite_permit" type="checkbox" ng-model="user.payment_onsite_permit">
                                                    <span>OS Permit</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Checkin at</label>

                                        <div class="col-sm-10">
                                            <div style="float: left; min-height: 10px; padding: 7px" >{{user.checkin_at | date}}</div>
                                            <!-- <input class="form-control" name="checkin_at" ng-model="user.checkin_at" style="width: 200px; float: left;" /> -->
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <button class="btn btn-text" ng-click="update(user)">SAVE</button>
                                                <div ng-if="!user.checkin_at" class="btn btn-success" ng-click="setCheckin(user); update(user)">CHECK IN</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div ng-if="no_row" class="alert alert-danger ">
                Sorry this link is wrong!
                <br>
                <b>{{no_row}}</b>
                <Br>
                <div class="btn btn-primary" ng-click="login()">Login with Facebook</div>
            </div>
        </div>


        <script src="/uhf/countries.js"></script>
        <script src="/uhf/uhf-utils.js"></script>
        <script src="/uhf/countries.js"></script>
        <script src="/uhf/uhf-translation.js?v=1"></script>
        <script src="/uhf/angular.min.js"></script>
        <script src="/uhf/panel.js"></script>

    </body>

</html>
